@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "EfcoBrookshire";
  src: url("./assert/fonts/EfcoBrookshire.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
